<html>
<address>
  You can see the official website of the Arsenal football club
  <a href="https://www.arsenal.com/">https://www.arsenal.com/</a>.<br />
  If you see any bugs, please
  <a href="mailto:p.kostya.200485@gmail.com">contact admin</a>.<br />
  You may also want to visit us:<br />
  Emirates Stadium<br />
  Highbury House<br />
  75 Drayton Park<br />
  London N5 1BU<br />
  UK
  <br>
  <br>Go back 
 <a href="file:///C:/Users/pkost/OneDrive/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/Arsenal.html">Arsenal index</a>.<br />
 <br>If you want see
 <a href="file:///C:/Users/pkost/OneDrive/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/page.gallery.html"> Gallery Page</a>.<br />
</address>
</html>
